@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans:wght@700;900&family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(34deg, #23222A 33%, #44515D 100%);
    background-size: contain; 
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden; 
}
.banner{
    position: absolute;
    top: 0vw;
    left: 3vw;
    color: #ffffff;
    height: 5.3vw;
    width: 8vw;
    background-color: #ff7109;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1vw;
    font-family: 'Bebas Neue', sans-serif;
    z-index: 1;
}
.banner .bar{
    position: absolute;
    top: 1.7vw;
    height: 0.3vw;
    width: 1.2vw;
    background-color: #ffffff;
    z-index: 2;
    left: 1.5vw;
} 
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 5vw;
    color: #b3aca2;
    position: relative;
    top: 2.8vw;
    left: 16vw;
    font-size: 0.7vw;
    font-family: 'Figtree', sans-serif;
    font-weight: 300;
    width: 53vw;
}
nav a{
    text-decoration: none;
    color: #b3aca2;
}
.nav-bar:hover{
    color: #ff7109;
}
nav .bar{
    width: 10vw;
    height: 0.1vw;
    background-color: #b3aca2;
    position: relative;
    top: 0.6vw;
} 
.sidebar{
    color: #b3aca2;
    display: flex;
    flex-wrap: nowrap;
    transform: rotateZ(-0.25turn);
    column-gap: 3vw;
    position: absolute;
    left: -6vw;
    width: 19vw;
    height: 2vw;
    top: 23vw;
    font-size: 0.5vw;
    font-family: 'Figtree', sans-serif;
}  
.sidebar a{
    text-decoration: none;
    color: #b3aca2;
}
.sidebar a:hover{
    color: #ff7109;
}

.sidebar img{
    height: 2vw;
    width: 2vw;
}
.body{
    position: absolute;
    display: flex;
    width: 20vw; 
    color: rgb(236, 229, 229);
    font-family: 'Figtree', sans-serif;
}
.body-0{
    position: absolute;
    display: flex;
    font-size: 3.2vw;
    width: 20vw;
    font-family: 'Noto Sans', sans-serif;
    top: 15vw;
    left: 15vw;
}
.body-1{
    color: #ff7109;
    position: absolute;
    display: flex;
    font-size: 3.2vw;
    width: 20vw;
    font-family: 'Noto Sans', sans-serif;
    top: 18vw;
    left: 15vw;
} 
.body-2{
    position: absolute;
    display: flex;
    font-size: 3.2vw;
    width: 21vw;
    font-family: 'Noto Sans', sans-serif;
    top: 23vw;
    left: 15vw;
}
.main-page-image{
    position: absolute;
    left: 46vw;
    top: 15vh;
    height: 28vw;
    width: 48vw;
}
.nav-2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1vw;
    top: 22vw;
    transform: rotateZ(.25turn);
    width: 22vw;
    column-gap: 1.8vw;
    left: 85.5vw;
} 
.nav-2 h1{
    transform: rotateZ(-0.25turn);
}
.nav-2 .bar{
    top: 0.8vw;
    width: 7vw;
}
footer{
    display: flex;
    position: absolute;
    bottom: 0vh;
    width: 100vw;
    height: 10vw;
    color: #ffffff;
    font-family: 'Figtree', sans-serif;
}
footer .video-container{
    width: 20vw;
    height: 100%;
    background-color: #ff7109;
}
.video-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .elem{
    background-color: #101016;
    width: 15vw;
    height: 100%;
}
.elem h2{
    color: #ff7109;
    position: relative;
    top: 2vw;
    left: 2vw;
    font-size: 0.9vw;
    width: 18vw;
}
.elem h1{
    position: relative;
    top: 3.3vw;
    left: 2vw;
    font-size: 1.2vw;
    width: 18vw;
}
.elem p{
    position: relative;
    top: 4.3vw;
    left: 2vw;
    color: #b3aca2;
    width: 10vw;
    font-size: 1vw;
    text-overflow: ellipsis;
}
.elem a{
    text-decoration: none;
    color: white;
}
.elem a:hover{
    color: #ff7109;
}
.gradient-elem{
    background-image: linear-gradient(2deg, #15171D, transparent);
    width: 65vw;
    height: 100%;
    position: relative;
}
.gradient-elem .left{
    position: relative;
    top: 2vw;
    left: 2vw;
    font-size: 1.2vw;
}
.gradient-elem .p-left{
    position: relative;
    width: 20vw;
    top: 3.3vw;
    left: 2vw;
    font-size: 0.8vw;
    color: #b3aca2;
}
.gradient-elem h1{
    position: relative;
    top: -0.5vw;
    left: 24vw;
    font-size: 1.2vw;
}
.gradient-elem p{
    position: relative;
    width: 20vw;
    top: 0.8vw;
    left: 24vw;
    font-size: 0.8vw;
    color: #b3aca2;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-family: 'Figtree', sans-serif
}
.wrapper .card{
    background: linear-gradient(2deg, #15171D, transparent);;
    width: 43vw;
    opacity: 0;
    pointer-events: none;
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));
    position: absolute;
    font-size: 1.2vw;
    left: 57vw;
    top: 0;
    height: 10vw;
}
.wrapper:hover .card{
    animation-play-state: paused;
}
.wrapper .card:last-child{
    animation-delay: calc(3s * var(--delay));
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }
    45%, 60%{
        opacity: 0.4;
        transform: translateY(0%) scale(0.7);
    }
    65%, 100%{
        opacity: 0;
        transform: translateY(-10%) scale(1);
    }
}
.wrapper .card .img{
    height: 60px;
    width: 60px;
    position: absolute;
    left: -10;
    top: 2vw;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.card .img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.card .detials{
    margin-left: 80px;
}
.detials span{
    top: 10vw;
    font-weight: 600;
    font-size: 18px;
}
.card a{
    text-decoration: none;
    padding: 7px 18px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
}
.arrows{
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
    width: 2vw;
    height: 9vw;
    position: absolute;
    right: 2vw;
    bottom: -1vw;
}
